<div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
  <%= simple_form_for @post do |f| %>
    <div class="mb-4">
      <%= f.input :title, input_html: { class: 'w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500' }, wrapper: false %>
    </div>
    <div class="mb-4">
      <%= f.input :content, input_html: { class: 'w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500' }, wrapper: false %>
    </div>
    <div>
      <h5>change in thoughts? Sure 
      <%= f.button :submit, 'Update post', class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
