<div>
  <h1>Post page</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="field">
      <div class="control">
        <h2>Ttile: </h2>
        <%= f.text_field :title, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <h2>write your thoughts: </h2>
        <%= f.text_area :content, class: 'textarea' %>
      </div>
    </div>
    <%= f.submit 'Post your thought', class: 'button is-primary' %>
  <% end %>
</div>
